// Variables
$font-awesome-font: normal normal normal 1.33333333em/1 FontAwesome;

// Body styles
html, body {
    overflow: hidden;
    background: map-get($theme-colors, 'light');
}

// Basic Layout
#wrapper {
    @extend .p-5;
}

.unstyled-list {
    list-style: none;
    padding: 0;
}

ul.button-list li {
    margin-right: $spacer / 2;
}

// Buttons
.btn {
    @extend .text-uppercase;
}

.navbar-nav .btn {
    line-height: 0.85;
}

.btn-outline-gray:hover {
    background-color: transparent;
    border-color: $white;
}

// Dropdowns
.dropdown-toggle::after {
    margin-left: map-get($spacers, 3);
    vertical-align: 0.13em;
}

.navbar-dark a.dropdown-item.active, .navbar-dark a.dropdown-item:active {
    background-color: initial;
    color: #990000;
}

.dropdown-toggle.no-arrow::after {
    display: none;
}

// Fonts
.navbar-dark, .sidebar, .login {
    color: $white;

    a, .btn-link {
        color: $gray-300;
    }

    a:hover, .btn-link:hover {
        color: $white;
    }

    .dropdown-item, .dropdown-item:hover {
        color: inherit;
    }
}

// Content
.content-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
}

// Sidebars
#left-sidebar, .main-content {
    height: 100vh;
}

.left-sidebar-item {
    margin-bottom: map-get($spacers, 4);
}

.nav-title {
    font-weight: 200;
    text-transform: uppercase;
}

.sidebar-nav .nav-link {
    font-weight: normal;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0;
    position: relative;
}

ul.submenu {
  padding-left: 0.75rem;
  list-style: none;
}

.sidebar-nav a.active {
    color: $white;
}

.sidebar-nav a.active::before {
    background-color: $sbu-red;
    content: "";
    height: $font-size-base;
    left: -15px;
    position: absolute;
    width: 5px;
}

a.toggle-collapse::after {
  line-height: 10px;
  padding-left: 2px;
}

a.toggle-collapse.collapsed::after {
  font-size: 26px;
  content: '\25B6';
}

a.toggle-collapse.expanded::after {
  font-size: 10px;
  content: '\25BC';
}

// Center Pane
.main-content {
    overflow-y: scroll;
    height: calc(100vh - 4rem - 75px);
    background: #fff;
}

.page-section {
    margin-bottom: map-get($spacers, 4);
}

.nav-tabs {
    margin: $spacer 0 $spacer * 1.5 0;
    border-bottom: none !important;
}

.nav-tabs a.nav-link {
    color: $gray-600;
    position: relative;
    text-transform: uppercase;
    border: none !important;
}

.nav-tabs a.nav-link:first-child {
    margin-left: -1rem;
}

.nav-tabs a.nav-link.active, .nav-tabs a.nav-link:hover {
    color: $black;
}

.nav-tabs a.nav-link.active::after {
    border-top: 1px solid $sbu-red;
    bottom: 0;
    content: "";
    left: 50%;
    margin-left: -15px;
    position: absolute;
    width: 30px;
}

.playlist-list {
    margin-top: map-get($spacers, 2);
}

h2.playlist-list-title {
    font-weight: bold;
    margin-bottom: $spacer;
}

.playlist h3 {
    text-transform: uppercase;
}

.playlist h3 a {
    color: $black;
}

.playlist-image {
  display: block;
  position: relative;
  margin-bottom: $spacer / 1.25;
}

.playlist-image .hover-actions {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);

  &::before {
    content: ' ';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .btn-link, .btn-link:hover {
    padding: 0;
    color: #fff;
  }
}

.playlist-image:hover .hover-actions {
  display: block;
}

// Bottom Pane (Play Bar)
#play-bar {
    height: 80px;
}

#play-bar a.active {
    color: $sbu-red;
}

#now-playing a, #now-playing ul {
  display: inline-block;
  vertical-align: middle;
}

#now-playing ul {
  margin: 0;
}

#now-playing {
  width: 250px;
}

ul.song-details {
    @extend .unstyled-list;
}

ul.song-details li {
    margin-top: map-get($spacers, 1);
}

ul.song-details .song-title a {
    color: $white;
    font-size: 18px;
    font-weight: normal;
}

ul#playback-controls {
    margin-bottom: 0;
    padding: 0;
}

ul#playback-controls li {
    display: inline-block;
    vertical-align: middle;
}

#playback-controls .btn {
    padding-top: $spacer / 5;
    padding-bottom: $spacer / 5;
}

#current-time, #playback-track, #total-time {
    display: inline-block;
}

#current-time, #total-time {
    font-weight: normal;
}

#play {
  &.playing i:before {
    content: "\f28c";
  }

  &.paused i:before {
    content: "\f01d";
  }
}

#toggle-shuffle.active, #toggle-repeat.active {
  color: $sbu-red;
}

#toggle-repeat {
  position: relative;
}

#toggle-repeat.active.repeat-one::before {
  content: '1';
  color: #fff;
  font-size: 10px;
  font-weight: 200;
  position: absolute;
  top: 6px;
  left: 20px;
}

#playback-track {
    background-color: #4d4d4d;
    width: 575px;
    height: 5px;
    margin: 0 map-get($spacers, 1);
}

#playback-slider {
    background-color: $sbu-red;
    height: 100%;
}

@include media-breakpoint-down(lg) {
    #playback-track {
        width: 475px;
    }
}

@include media-breakpoint-down(md) {
    #playback-track {
        width: 375px;
    }
}

// Songs page
.page-heading {
    margin-top: -0.5rem;
}

.btn-wide {
    min-width: $spacer * 7;
}

.filter-box {
    margin-top: map-get($spacers, 4);
    position: relative;
}

.filter-box .form-control {
    padding-left: $spacer * 2.25;
    padding-right: $spacer * 2.25;
    border-color: transparent;
}

.filter-box .form-control:focus {
    border-color: $gray-400;
}

.filter-box label, .filter-box .clear-filter {
    color: $sbu-light-gray;
    position: absolute;
}

.filter-box label {
    left: 15px;
    top: 9px;
}

.filter-box .clear-filter {
  top: 0;
  right: 0;
}

.btn.play-button, .btn.remove-song, .btn.add-song {
    padding: 0;
}

.play-button {
    visibility: hidden;
}

tr:hover .play-button {
    visibility: visible;
}

tr.now-playing {
    @extend .table-gray;

    .play-button {
        visibility: visible;
    }
}

.remove-song:hover i::before {
    content: "\f00d"; /* Times */
}

th.actions, td.actions {
    width: 9%;
}

th.title, td.title {
    width: 31%;
}

th.artist, td.artist {
    width: 17%;
}

th.album, td.album {
    @extend .d-none, .d-sxl-table-cell;
}

th.date, td.date {
    width: 10%;
}

th.duration, td.duration {
    width: 5%;
}


// Artist Detail page
#artist_header {
    position: relative;
}

#artist_header div#artist_details {
    color: $white;
    position: absolute;
    left: 1.5rem;
    bottom: 1.5rem;
}

#artist_header h1 {
    text-shadow: 1px 1px 5px #2b2b2b;
}

.verified-artist::after {
    color: $sbu-red;
    content: "\f058";
    display: inline-block;
    font: $font-awesome-font;
    font-size: 0.5em;
    padding-left: map-get($spacers, 3);
    vertical-align: middle;
}

#popular_songs td {
    padding: 0;
    vertical-align: middle;
}

span.song-rank {
    padding-left: map-get($spacers, 2);
}

#show_more {
    color: $sbu-dark-gray;
    text-transform: uppercase;
}

ul.artist-list {
    @extend .unstyled-list;
}

ul.artist-list li {
    margin-top: map-get($spacers, 2);
}

ul.artist-list a.artist-name {
    margin-left: map-get($spacers, 2);
}

.view-selector {
    @extend .unstyled-list;

    float: right;
    margin: 0;
}

.view-selector li {
    display: inline-block;
    vertical-align: middle;
}

.view-selector li a {
    color: $sbu-light-gray;
}

.view-selector li a:hover, .view-selector li a.selected {
    color: $sbu-red;
}

.thumbs-row {
    margin-bottom: 30px;
}

.listener-count {
    margin-bottom: map-get($spacers, 3);
}

// Login page
.login {
  height: calc(100vh - 60px);
  overflow-y: scroll;
}

.form-heading {
    @extend .display-4, .text-center, .mb-5;
}

.login-form button {
    @extend .btn, .btn-primary, .btn-wide, .d-block, .mx-auto, .mt-4;
}

ul#loginActions {
    @extend .unstyled-list, .mt-5;

    li {
        @extend .mb-3;

        a {
            @extend .text-uppercase;
        }
    }
}

legend {
    font-weight: 300;
}

// Search
#search-input {
  position: relative;
}

a#search-clear {
  position: absolute;
  right: 15px;
  top: 8px;
  color: #4d4d4d !important;
}

#search-header {
    h1, a {
        display: inline-block;
        vertical-align: middle;
    }

    a {
        @extend .pl-3;
        color: black;
    }

    a:hover {
        color: $sbu-dark-gray;
    }
}

.search-query {
    font-weight: normal;
}

.results-spinner {
    text-align: center;

    span, i {
        display: inline-block;
        vertical-align: middle;
    }

    span {
        @extend .pl-2;
    }
}

// Grid
.grid-item {
  padding: 15px;
}

// Albums
.playlist {
  @extend .grid-item;
}

// Genres
.genre {
  @extend .grid-item;
}

.genre a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
}

.genre a span {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  text-shadow: 1px 1px 5px #000;
}

// Play Queue
.queue-section {
    @extend .mt-4;
}

// Create Playlist modal
.my-custom-file-control {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.5rem 0.75rem;
    overflow: hidden;
    line-height: 1.25;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-clip: padding-box;
    border-radius: 1.25rem;
}

textarea#description {
    resize: none;
}

// Settings form
#crossfadeDuration {
    margin-left: 25px;
    margin-right: 25px;
}

#crossfadeDuration::before {
    content: "0s";
    margin-left: -25px;
}

#crossfadeDuration::after {
    content: "12s";
    margin-right: -25px;
    padding-left: 5px;
}

// Forms
.ng-touched {
  &.ng-valid {
    &[required], &.required {
      @extend .is-valid;
    }
  }

  &.ng-invalid:not(form) {
    @extend .is-invalid;
  }
}

.form-feedback {
  border-bottom: 2px solid;
  padding: map-get($spacers, 2) 0;
  text-transform: uppercase;

  &.error {
    border-bottom-color: #dc3545;
  }

  &.success {
    border-bottom-color: #28a745;
  }
}

// Context menus
.ngx-contextmenu ul li a {
  color: #000;
}

// Responsive
@media (min-width: 1700px) {
    .d-sxl-table-cell {
        display: table-cell !important;
    }
}
