<div class="text-center d-none d-sm-block" id="leaderboard">
    <img src="assets/img/ad-placeholder.jpg" class="img-fluid" alt="Advertisement">
</div>

<nav class="nav tab-nav">
    <a class="nav-link" routerLink="overview" routerLinkActive="active">Overview</a>
    <a class="nav-link" routerLink="charts" routerLinkActive="active">Charts</a>
    <a class="nav-link" routerLink="genres" routerLinkActive="active">Genres &amp; Moods</a>
    <a class="nav-link" routerLink="new-releases" routerLinkActive="active">New Releases</a>
    <a class="nav-link" routerLink="concerts" routerLinkActive="active">Concerts</a>
</nav>

<router-outlet></router-outlet>