<div class="row playlist-list">
    <div class="col-12">
        <h2 class="h5 playlist-list-title">Study and Chill</h2>
    </div>

    <div class="col-sm-6 col-lg-4 col-xl-3 playlist">
        <a class="playlist-image" href="#">
            <img class="img-fluid" src="assets/img/playlist-placeholder.jpg" alt="Playlist One">
        </a>
        <h3 class="h6">
            <a href="#">Playlist One</a>
        </h3>
        <p>Integer ultricies arcu diam, id fringilla mi tincidunt at. Aliquam.</p>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3 playlist">
        <a class="playlist-image" href="#">
            <img class="img-fluid" src="assets/img/playlist-placeholder.jpg" alt="Playlist Two">
        </a>
        <h3 class="h6">
            <a href="#">Playlist Two</a>
        </h3>
        <p>Suspendisse sodales pharetra orci eu imperdiet. Cras convallis vulputate magna.</p>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3 playlist">
        <a class="playlist-image" href="#">
            <img class="img-fluid" src="assets/img/playlist-placeholder.jpg" alt="Playlist Three">
        </a>
        <h3 class="h6">
            <a href="#">Playlist Three</a>
        </h3>
        <p>Praesent eget ultrices urna. Nunc venenatis massa non dolor facilisis.</p>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3 playlist">
        <a class="playlist-image" href="#">
            <img class="img-fluid" src="assets/img/playlist-placeholder.jpg" alt="Playlist Four">
        </a>
        <h3 class="h6">
            <a href="#">Playlist Four</a>
        </h3>
        <p>In magna sem, accumsan id erat quis, varius vulputate erat.</p>
    </div>
</div>

<div class="row playlist-list">
    <div class="col-12">
        <h2 class="h5 playlist-list-title">Work and Stress</h2>
    </div>

    <div class="col-sm-6 col-lg-4 col-xl-3 playlist">
        <a class="playlist-image" href="#">
            <img class="img-fluid" src="assets/img/playlist-placeholder.jpg" alt="Playlist One">
        </a>
        <h3 class="h6">
            <a href="#">Playlist One</a>
        </h3>
        <p>Maecenas convallis ex at elit aliquet, vel aliquet libero accumsan.</p>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3 playlist">
        <a class="playlist-image" href="#">
            <img class="img-fluid" src="assets/img/playlist-placeholder.jpg" alt="Playlist Two">
        </a>
        <h3 class="h6">
            <a href="#">Playlist Two</a>
        </h3>
        <p>Nullam volutpat, erat ut sollicitudin lacinia, justo lacus mollis augue.</p>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3 playlist">
        <a class="playlist-image" href="#">
            <img class="img-fluid" src="assets/img/playlist-placeholder.jpg" alt="Playlist Three">
        </a>
        <h3 class="h6">
            <a href="#">Playlist Three</a>
        </h3>
        <p>Etiam dignissim purus ut feugiat mattis. Duis ut eleifend dui.</p>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3 playlist">
        <a class="playlist-image" href="#">
            <img class="img-fluid" src="assets/img/playlist-placeholder.jpg" alt="Playlist Four">
        </a>
        <h3 class="h6">
            <a href="#">Playlist Four</a>
        </h3>
        <p>Ut lacinia vulputate odio nec dictum. Curabitur sodales felis diam.</p>
    </div>
</div>