# Maven
target/

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea/

# eclipse project file
.settings/
.classpath
.project

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# other IDEs and editors
.c9/
*.launch
*.sublime-workspace
*.sublime-project
*.editorconfig

# angular dependencies
node_modules/

# misc
.sass-cache/
connect.lock/
coverage/
libpeerconnection.log
npm-debug.log
testem.log
typings/

# e2e
e2e/*.js
e2e/*.map

# OS
.DS_Store
Thumbs.db

# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag

