<div class="row">
  <div class="col-md-9">
    <h2 class="h4">Bio</h2>
    <ng-container class="bio-content" *ngIf="biography != null || loading; else noBioTemplate">
      {{ biography.text }}
    </ng-container>
    <ng-template #noBioTemplate>
      <p>{{ artist.name }} doesn't have a biography yet.</p>
    </ng-template>
    <div class="results-spinner mt-3" [hidden]="!loading">
      <i class="fa fa-spinner fa-spin"></i>
      <span>Loading...</span>
    </div>
  </div>
  <div class="col-md-3">
    <div class="listener-count">
      <span class="display-4">{{ artist?.monthlyListeners }}</span> <br>
      <span class="text-muted">Monthly Listeners</span>
    </div>

    <div class="listener-count">
      <span class="display-4">{{ artist?.numFollowers }}</span> <br>
      <span class="text-muted">Followers</span>
    </div>
  </div>
</div>
