<section id="artist_header">
  <div id="artist_details">
    <h1 class="display-4 verified-artist">{{ artist?.name }}</h1>

    <ul class="nav button-list">
      <li class="nav-item">
        <button type="button"
                class="btn btn-primary play-artist"
                title="{{ isPlaying() ? 'Pause' : 'Play' }} Artist"
                (click)="togglePlayback()">
          {{ isPlaying() ? 'Pause' : 'Play' }}
        </button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-light follow-artist"
                title="{{ artist?.followed ? 'Unfollow' : 'Follow' }}"
                (click)="toggleFollowing()">
          {{ artist?.followed ? 'Unfollow' : 'Follow' }}
        </button>
      </li>
    </ul>
  </div>

  <img class="img-fluid" src="{{ artist.image | toImageSrc:'cover' }}" alt="{{ artist.name }}" title="{{ artist.name }}">
</section>

<nav class="nav nav-tabs">
    <a class="nav-link" id="overview-tab" routerLink="overview" routerLinkActive="active">Overview</a>
    <a class="nav-link" id="related-tab" routerLink="related" routerLinkActive="active">Related Artists</a>
    <a class="nav-link" id="about-tab" routerLink="about" routerLinkActive="active">About</a>
    <a class="nav-link" id="concerts-tab" routerLink="concerts" routerLinkActive="active">Concerts</a>
</nav>

<router-outlet></router-outlet>
