<div class="row page-section">
  <div class="col-md-8">
    <h2 class="h4">Popular</h2>

    <table class="table table-hover" id="popular_songs">
      <thead class="sr-only">
        <tr>
          <th>Rank</th>
          <th>Title</th>
          <th>Play Count</th>
        </tr>
      </thead>
      <tbody *ngIf="popularSongs.length > 0; else noPopularSongs">
        <tr *ngFor="let song of popularSongs; index as i" [ngClass]="{ 'now-playing': isNowPlaying(song) }" [hidden]="i > 4 && !showMore">
          <td>
            <img class="album-cover" [src]="song.album.image | toImageSrc:'thumbnail'" alt="{{ song.album.name }}" title="{{ song.album.name }}" width="55" height="55">
            <span class="song-rank">{{ i + 1 }}</span>
            <button type="button" class="btn btn-link play-button" title="{{ isPlaying(song) ? 'Pause' : 'Play' }}" (click)="togglePlayback(i)">
              <i class="fa fa-lg fa-fw" [ngClass]="isPlaying(song) ? 'fa-pause-circle-o' : 'fa-play-circle-o'"></i>
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-link pl-0 pr-1"
                  [ngClass]="{ 'remove-song': song.saved }"
                  title="{{ !song.saved ? 'Save to Library' : 'Remove from Library' }}"
                  (click)="saveOrRemoveSong(song)">
              <i class="fa fa-lg fa-fw" [ngClass]="!song.saved ? 'fa-plus' : 'fa-check'"></i>
            </button>
            <span>{{ song.name }}</span>
          </td>
          <td>{{ song.playCount }}</td>
        </tr>
      </tbody>
      <ng-template #noPopularSongs>
        <tr>
          <td colspan="3">This artist doesn't have any songs.</td>
        </tr>
      </ng-template>
      <tfoot *ngIf="popularSongs.length > 0">
        <tr>
          <th class="text-center" colspan="3">
            <button class="btn btn-link" id="show_more" (click)="showMore = !showMore">
              {{ showMore ? 'Show Less...' : 'Show More...' }}
            </button>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="col-md-4">
    <h2 class="h4">Related Artists</h2>

    <ul class="artist-list" *ngIf="relatedArtists | async as relatedArtists; else relatedArtistsLoading">
      <li *ngFor="let artist of relatedArtists">
        <a [routerLink]="['/artist', artist.id]">
          <img width="50" height="50" [src]="artist.image | toImageSrc:'catalog'" title="{{ artist.name }}" alt="{{ artist.name }}">
        </a>
        <a class="artist-name" [routerLink]="['/artist', artist.id]" title="{{ artist.name }}">{{ artist.name | truncate:15 }}</a>
      </li>
    </ul>
    <ng-template #relatedArtistsLoading>
      <ul class="artist-list mt-3">
        <li class="results-spinner">
          <i class="fa fa-spinner fa-spin"></i>
          <span>Loading...</span>
        </li>
      </ul>
    </ng-template>
  </div>
</div>

<div class="row page-section" *ngIf="products | async as products">
  <div class="col-md-12">
    <h2 class="h4">Merch</h2>
  </div>
  <div class="col-md-2 merch-item" *ngFor="let product of products">
    <a href="#" (click)="openMerchModal(product)">
      <img class="img-fluid" src="{{ product.image | toImageSrc:'thumbnail' }}" title="{{ product.name }}" alt="{{ product.name }}">
    </a>
  </div>
</div>

<div class="row page-section">
  <div class="col-md-12">
    <h2 class="h4 pull-left">Discography</h2>
    <form class="discography-filter form-inline pull-right">
      <label for="albumType" class="pr-2">Show:</label>
      <select class="form-control" id="albumType" (change)="onFilterChange($event.target.value)">
        <option value="ALL">All</option>
        <option value="ALBUM">Albums</option>
        <option value="SINGLE">Singles</option>
      </select>
    </form>
  </div>
  <div class="col-md-12" album-list [albums]="albums" [pending]="albumsLoading"></div>
</div>
