<div class="row page-section">
    <div class="col-md-8">
        <h2 class="h4">Popular</h2>
        
        <table class="table table-hover" id="popular_songs">
            <thead class="sr-only">
                <tr>
                    <th>Rank</th>
                    <th>Title</th>
                    <th>Play Count</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <img class="album-cover" src="assets/img/album-placeholder.jpg" alt="Album Title" title="Album Title">
                        <span class="song-rank">1</span>
                        <button type="button" class="btn btn-link play-button" title="Play">
                            <i class="fa fa-lg fa-fw fa-play-circle-o"></i>
                        </button>
                    </td>
                    <td>
                         <button type="button" class="btn btn-link add-song" title="Save to Library">
                            <i class="fa fa-lg fa-fw fa-plus"></i>
                        </button>
                        <span>Don't Need It</span>
                    </td>
                    <td>439,725</td>
                </tr>
                <tr class="now-playing">
                    <td>
                        <img class="album-cover" src="assets/img/album-placeholder.jpg" alt="Album Title" title="Album Title">
                        <span class="song-rank">2</span>
                        <button type="button" class="btn btn-link play-button" title="Pause">
                            <i class="fa fa-lg fa-fw fa-play-circle-o"></i>
                        </button>
                    </td>
                    <td>
                         <button type="button" class="btn btn-link remove-song" title="Remove From Library">
                            <i class="fa fa-lg fa-fw fa-check"></i>
                        </button>
                        <span>Chandelier</span>
                    </td>
                    <td>165,046</td>
                </tr>
                <tr>
                    <td>
                        <img class="album-cover" src="assets/img/album-placeholder.jpg" alt="Album Title" title="Album Title">
                        <span class="song-rank">3</span>
                        <button type="button" class="btn btn-link play-button" title="Play">
                            <i class="fa fa-lg fa-fw fa-play-circle-o"></i>
                        </button>
                    </td>
                    <td>
                         <button type="button" class="btn btn-link add-song" title="Save to Library">
                            <i class="fa fa-lg fa-fw fa-plus"></i>
                        </button>
                        <span>Necromancer</span>
                    </td>
                    <td>156,722</td>
                </tr>
                <tr>
                    <td>
                        <img class="album-cover" src="assets/img/album-placeholder.jpg" alt="Album Title" title="Album Title">
                        <span class="song-rank">4</span>
                        <button type="button" class="btn btn-link play-button" title="Play">
                            <i class="fa fa-lg fa-fw fa-play-circle-o"></i>
                        </button>
                    </td>
                    <td>
                         <button type="button" class="btn btn-link add-song" title="Save to Library">
                            <i class="fa fa-lg fa-fw fa-plus"></i>
                        </button>
                        <span>Choking on Your Spit</span>
                    </td>
                    <td>72,053</td>
                </tr>
                <tr>
                    <td>
                        <img class="album-cover" src="assets/img/album-placeholder.jpg" alt="Album Title" title="Album Title">
                        <span class="song-rank">5</span>
                        <button type="button" class="btn btn-link play-button" title="Play">
                            <i class="fa fa-lg fa-fw fa-play-circle-o"></i>
                        </button>
                    </td>
                    <td>
                         <button type="button" class="btn btn-link add-song" title="Save to Library">
                            <i class="fa fa-lg fa-fw fa-plus"></i>
                        </button>
                        <span>Get Gone</span>
                    </td>
                    <td>48,287</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th class="text-center" colspan="3">
                        <a href="#" id="show_more">Show 5 More...</a>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="col-md-4">
        <h2 class="h4">Related Artists</h2>

        <ul class="artist-list">
            <li>
                <img class="img-fluid" src="assets/img/artist-placeholder.png" title="Low Cut Connie" alt="Low Cut Connie">
                <a class="artist-name" href="#" title="Low Cut Connie">Low Cut Connie</a>
            </li>
            <li>
                <img class="img-fluid" src="assets/img/artist-placeholder.png" title="Banditos" alt="Banditos">
                <a class="artist-name" href="#" title="Banditos">Banditos</a>
            </li>
            <li>
                <img class="img-fluid" src="assets/img/artist-placeholder.png" title="Black Joe Lewis" alt="Black Joe Lewis">
                <a class="artist-name" href="#" title="Black Joe Lewis">Black Joe Lewis</a>
            </li>
            <li>
                <img class="img-fluid" src="assets/img/artist-placeholder.png" title="The Yawpers" alt="The Yawpers">
                <a class="artist-name" href="#" title="The Yawpers">The Yawpers</a>
            </li>
            <li>
                <img class="img-fluid" src="assets/img/artist-placeholder.png" title="Bully" alt="Bully">
                <a class="artist-name" href="#" title="Bully">Bully</a>
            </li>
        </ul>
    </div>
</div>

<!-- BEGIN MERCH -->
<div class="row page-section">
    <div class="col-md-12">
        <h2 class="h4">Merch</h2>
    </div>
    <div class="col-md-2">
        <a href="#">
            <img class="img-fluid" src="assets/img/merch-placeholder.jpg" title="Merch Item 1" alt="Merch Item 1">
        </a>
    </div>
    <div class="col-md-2">
        <a href="#">
            <img class="img-fluid" src="assets/img/merch-placeholder.jpg" title="Merch Item 2" alt="Merch Item 2">
        </a>
    </div>
    <div class="col-md-2">
        <a href="#">
            <img class="img-fluid" src="assets/img/merch-placeholder.jpg" title="Merch Item 3" alt="Merch Item 3">
        </a>
    </div>
</div>
<!-- END MERCH -->

<!-- BEGIN ALBUMS -->
<div class="row page-section">
    <div class="col-md-12">
        <h2 class="h4 pull-left">Albums</h2>
        <ul class="view-selector">
            <li>
                <a href="#" title="List View">
                    <i class="fa fa-fw fa-lg fa-list-ul"></i>
                </a>
            </li>
            <li>
                <a class="selected" href="#" title="Grid View">
                    <i class="fa fa-fw fa-lg fa-th-large"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3 playlist">
        <a class="playlist-image" href="#">
            <img class="img-fluid" src="assets/img/playlist-placeholder.jpg" alt="Album Two">
        </a>
        <h3 class="h6">
            <a href="#">Album Two</a>
        </h3>
        <span class="text-muted">2017</span>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3 playlist">
        <a class="playlist-image" href="#">
            <img class="img-fluid" src="assets/img/playlist-placeholder.jpg" alt="Album One">
        </a>
        <h3 class="h6">
            <a href="#">Album One</a>
        </h3>
        <span class="text-muted">2016</span>
    </div>
</div>
<!-- END ALBUMS -->