<section id="playlist-heading">
    <div class="row">
        <div class="col-3">
            <img src="{{ playlist.image }}" class="playlist-image img-fluid" title="{{ playlist.name }}" alt="{{ playlist.name }}">
        </div>
        <div class="col-9 content-wrapper">
            <h1 class="display-4 page-heading">{{ playlist.name }}</h1>
            <p class="lead" *ngIf="playlist.description">{{ playlist.description }}</p>
            <p>Created by: <a href="#">{{ playlist.owner.name }}</a>. {{ playlist.songs.length }} songs, {{ playlist.length | amDuration:'milliseconds' }}.</p>
            <ul class="nav button-list">
                <li class="nav-item">
                    <button type="button" class="btn btn-wide btn-primary play-playlist" title="Play Playlist" [disabled]="playlist.songs.length == 0">Play</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-secondary unfollow-playlist" title="Unfollow">Unfollow</button>
                </li>
                <li ngbDropdown class="nav-item more-dropdown">
                    <button type="button" class="btn btn-outline-secondary" id="more_menu_button" title="More" ngbDropdownToggle>
                        <i class="fa fa-lg fa-ellipsis-h"></i>
                        <span class="sr-only">More</span>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="more_menu_button">
                        <a class="dropdown-item" href="#">Edit</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Report</a>
                        <a class="dropdown-item" href="#">Share</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<div class="filter-box">
    <label for="filter">
        <i class="fa fa-filter"></i>
        <span class="sr-only">Filter Songs</span>
    </label>

    <input type="text" class="form-control" name="filter" id="filter" placeholder="Filter...">

    <a href="#" class="clear-filter" title="Remove Filter">
        <i class="fa fa-fw fa-times-circle"></i>
        <span class="sr-only">Remove Filter</span>
    </a>
</div>

<table class="table table-hover mt-4" id="songs_table">
    <thead class="thead-inverse">
        <tr>
            <th class="actions"></th>
            <th class="title">Title</th>
            <th class="artist">Artist</th>
            <th class="album">Album</th>
            <th class="date">
                <i class="fa fa-lg fa-calendar-o" title="Date Added"></i>
            </th>
            <th class="duration">
                <i class="fa fa-lg fa-clock-o" title="Duration"></i>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let song of playlist.songs">
            <td class="actions">
                <button type="button" class="btn btn-link play-button" title="Play">
                    <i class="fa fa-lg fa-fw fa-play-circle-o"></i>
                </button>
                <button type="button" class="btn btn-link remove-song" title="Remove">
                    <i class="fa fa-lg fa-fw fa-check"></i>
                </button>
            </td>
            <td class="title">{{ song.name }}</td>
            <td class="artist">
                <a [routerLink]="['/artist', 1]">{{ song.artist }}</a>
            </td>
            <td class="album">
                <a href="#">{{ song.album }}</a>
            </td>
            <td class="date">
                {{ song.added }}
            </td>
            <td class="duration">
                {{ song.length }}
            </td>
        </tr>
        <tr *ngIf="playlist.songs.length == 0">
            <td colspan="6">No songs to display. Start adding songs to have them appear here.</td>
        </tr>
    </tbody>
</table>
