<section id="playlist-heading">
  <div class="row">
    <div class="col-3">
      <img [src]="playlist.image | toImageSrc:'catalog'" class="playlist-image img-fluid" title="{{ playlist.name }}" alt="{{ playlist.name }}">
    </div>
    <div class="col-9 content-wrapper">
      <h1 class="display-4 page-heading">{{ playlist.name }}</h1>
      <p class="lead" *ngIf="playlist.description">{{ playlist.description }}</p>
      <p>Created by: <a href="#">{{ playlist.owner.name }}</a>. {{ playlist.numSongs }} songs, {{ playlist.length | amDuration:'milliseconds' }}.</p>
      <ul class="nav button-list">
        <li class="nav-item">
          <button type="button" class="btn btn-wide btn-primary play-playlist" title="Play Playlist" [disabled]="playlist.numSongs == 0" (click)="togglePlayback()">
            {{ isPlaying() ? 'Pause' : 'Play' }}
          </button>
        </li>
        <li class="nav-item" *ngIf="!isUserOwned()">
          <button type="button" class="btn btn-outline-secondary unfollow-playlist" title="{{ playlist.isFollowed ? 'Unfollow' : 'Follow' }}" (click)="toggleFollowing()">
            {{ playlist.isFollowed ? 'Unfollow' : 'Follow' }}
          </button>
        </li>
        <li ngbDropdown class="nav-item" *ngIf="isUserOwned()">
          <button type="button" class="btn btn-outline-secondary no-arrow" id="more_menu_button" title="More" ngbDropdownToggle>
            <i class="fa fa-lg fa-ellipsis-h"></i>
            <span class="sr-only">More</span>
          </button>
          <div ngbDropdownMenu aria-labelledby="more_menu_button">
            <a class="dropdown-item" (click)="editPlaylist()">Edit</a>
            <a class="dropdown-item" (click)="deletePlaylist()">Delete</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<filter-box (onFilterChanged)="onFilterChange($event)"></filter-box>

<section class="mt-4"
   infiniteScroll
   [infiniteScrollDistance]="1"
   [infiniteScrollThrottle]="50"
   [infiniteScrollContainer]="'main'"
   [fromRoot]="true"
   (scrolled)="nextPage()">
  <div song-table [songList]="songs" [pending]="pending" [playlist]="playlist" (onRemoved)="onSongRemoved($event)"></div>
  <div class="results-spinner mt-3" [hidden]="!pending">
    <i class="fa fa-spinner fa-spin"></i>
    <span>Loading...</span>
  </div>
</section>
