<h1 class="display-4 page-heading">Play Queue</h1>

<ng-container *ngIf="current | async as current; else playQueueEmpty">
  <div class="queue-section">
    <h2 class="h4">Now Playing</h2>
    <div song-table [playlist]="current"></div>
  </div>

  <ng-container *ngIf="queued | async as queued">
    <div class="queue-section" *ngIf="queued.songs.length > 0">
      <h2 class="h4">Queued</h2>
      <div song-table [playlist]="queued"></div>
    </div>
  </ng-container>

  <div class="queue-section" *ngIf="hasNext()">
    <h2 class="h4">Up Next</h2>
    <div song-table [playlist]="playlist" [offset]="songIndex + 1"></div>
  </div>
</ng-container>

<ng-template #playQueueEmpty>
  <div class="text-center mt-5">
    <h2>Your Play Queue is empty.</h2>
    <a routerLink="/browse/overview" class="btn btn-large btn-primary">Browse Music</a>
  </div>
</ng-template>
