<section id="search-header" *ngIf="query; else emptyQueryHeader">
  <h1 class="display-4">Search Results for <span class="search-query">"{{service.query | async}}"</span></h1>
</section>
<ng-template #emptyQueryHeader>
  <h1 class="display-4">Search</h1>
  <p class="lead mt-4">Find your favorite songs, artists, albums, playlists, and friends.</p>
</ng-template>

<section id="search-results"
         *ngIf="query"
         infiniteScroll
         [infiniteScrollContainer]="'main'"
         [infiniteScrollDistance]="1"
         [infiniteScrollThrottle]="50"
         [fromRoot]="true"
         (scrolled)="next()">
  <ngb-tabset (tabChange)="onTabChange($event)">
    <ngb-tab id="song" title="Songs">
      <ng-template ngbTabContent>
        <div song-table [songList]="results | async | toSongList" [pending]="pending"></div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="album" title="Albums">
      <ng-template ngbTabContent>
        <div album-list [albums]="results | async" [pending]="pending"></div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="artist" title="Artists">
      <ng-template ngbTabContent>
        <div artist-grid [artists]="results | async" [pending]="pending"></div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="playlist" title="Playlists">
      <ng-template ngbTabContent>
        <div playlist-grid [playlists]="results | async" [pending]="pending"></div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="customer" title="Profiles">
      <ng-template ngbTabContent>
        <ng-container *ngIf="results | async">
          <div *ngIf="results.value.length > 0 || pending; else noResultsTemplate" class="row">
            <div *ngFor="let customer of results.value" class="col-sm-6 col-lg-4 col-xl-2 playlist text-center">
              <a class="playlist-image" [routerLink]="['/customer', customer.id]">
                <img class="img-fluid"
                     [src]="customer.image | toImageSrc:'catalog'"
                     alt="{{ customer.name }}"
                     title="{{ customer.name }}"
                     width="500"
                     height="500">
              </a>
              <a class="artist-name" [routerLink]="['/customer', customer.id]" title="{{ customer.name }}">{{ customer.name }}</a>
            </div>
          </div>
        </ng-container>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
  <div class="results-spinner mt-3" [hidden]="!pending">
    <i class="fa fa-spinner fa-spin"></i>
    <span>Loading...</span>
  </div>
</section>

<ng-template #noResultsTemplate>
  <p>No results found.</p>
</ng-template>
