<section id="search-header" *ngIf="query; else emptyQueryHeader">
  <h1 class="display-4">Search Results for <span class="search-query">"{{service.query | async}}"</span></h1>
</section>
<ng-template #emptyQueryHeader>
  <h1 class="display-4">Search</h1>
  <p class="lead mt-4">Find your favorite songs, artists, albums, playlists, and friends.</p>
</ng-template>

<section id="search-results" *ngIf="query" infiniteScroll [infiniteScrollContainer]="'main'"
         [infiniteScrollDistance]="1"
         [infiniteScrollThrottle]="50"
         [fromRoot]="true"
         (scrolled)="next()">
  <ngb-tabset (tabChange)="onTabChange($event)">
    <ngb-tab id="song" title="Songs">
      <ng-template ngbTabContent>
        <div *ngIf="results | async">
          <table class="table table-hover" id="songs_table">
            <thead class="thead-inverse">
              <tr>
                <th class="actions"></th>
                <th class="title">Title</th>
                <th class="artist">Artist</th>
                <th class="album">Album</th>
                <th class="duration">
                  <i class="fa fa-lg fa-clock-o" title="Duration"></i>
                </th>
              </tr>
            </thead>
            <tbody *ngIf="results.value.length > 0 || pending; else emptyTableTemplate">
              <tr *ngFor="let song of results.value">
                <td class="actions">
                  <button type="button" class="btn btn-link play-button" title="Play">
                    <i class="fa fa-lg fa-fw fa-play-circle-o"></i>
                  </button>
                  <button type="button" class="btn btn-link remove-song" title="Remove">
                    <i class="fa fa-lg fa-fw fa-check"></i>
                  </button>
                </td>
                <td class="title">{{ song.name }}</td>
                <td class="artist">
                  <a [routerLink]="['/artist', song.album.artist.id]">{{ song.album.artist.name }}</a>
                </td>
                <td class="album">
                  <a href="#">{{ song.album.name }}</a>
                </td>
                <td class="duration">
                  {{ song.length | formatDuration }}
                </td>
              </tr>
            </tbody>
            <ng-template #emptyTableTemplate>
              <tr>
                <td colspan="5">No results found.</td>
              </tr>
            </ng-template>
          </table>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="album" title="Albums">
      <ng-template ngbTabContent>
        <div *ngIf="results | async">
          <div *ngIf="results.value.length > 0 || pending; else noResultsTemplate" class="row">
            <div *ngFor="let album of results.value" class="col-sm-6 col-lg-4 col-xl-3 playlist">
              <a class="playlist-image" href="#">
                <img class="img-fluid" src="/static/i/{{ album.image ? album.image.id : 1 }}/catalog" alt="{{ album.name }}" width="500" height="500">
              </a>
              <h3 class="h6">
                <a href="#">{{ album.name }}</a>
              </h3>
              <span class="text-muted">{{ album.releaseDate | date:"y" }}</span>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="artist" title="Artists">
      <ng-template ngbTabContent>
        <div *ngIf="results | async">
          <div *ngIf="results.value.length > 0 || pending; else noResultsTemplate" class="row">
            <div *ngFor="let artist of results.value" class="col-md-2 artist-list-item">
              <a class="d-block" [routerLink]="['/artist', artist.id]">
                <img class="img-fluid" src="/static/i/{{ artist.image ? artist.image.id : 1 }}/catalog" alt="{{ artist.name }}" width="500" height="500">
              </a>
              <a class="artist-name" [routerLink]="['/artist', artist.id]" title="{{ artist.name }}">{{ artist.name }}</a>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="playlist" title="Playlists">
      <ng-template ngbTabContent>
        <div *ngIf="results | async">
          <div *ngIf="results.value.length > 0 || pending; else noResultsTemplate" class="row">
            <div *ngFor="let playlist of results.value" class="col-sm-6 col-lg-4 col-xl-3 playlist">
              <a class="playlist-image" href="#">
                <img class="img-fluid" src="/static/i/{{ playlist.image ? playlist.image.id : 1 }}/catalog" alt="{{ playlist.name }}" width="500" height="500">
              </a>
              <h3 class="h6">
                <a href="#">{{ playlist.name }}</a>
              </h3>
              <p>{{ playlist.description }}</p>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="profile" title="Profiles">
      <ng-template ngbTabContent>
        <div *ngIf="results | async">
          <div *ngIf="results.value.length > 0 || pending; else noResultsTemplate" class="row">
            <div *ngFor="let artist of results.value" class="col-md-2 artist-list-item">
              <a class="d-block" href="#">
                <img class="img-fluid" src="/static/i/{{ artist.image ? artist.image.id : 1 }}/catalog" alt="{{ artist.name }}" width="500" height="500">
              </a>
              <a class="artist-name" [routerLink]="['artist', artist.id]" title="{{ artist.name }}">{{ artist.name }}</a>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
  <div class="results-spinner mt-3" [hidden]="!pending">
    <i class="fa fa-spinner fa-spin"></i>
    <span>Loading...</span>
  </div>
</section>

<ng-template #noResultsTemplate>
  <p>No results found.</p>
</ng-template>
