<navbar></navbar>

<div class="container-fluid bg-light" [ngClass]="getWrapperClasses()">
    <div class="row">
        <!-- BEGIN LEFT SIDEBAR -->
        <nav class="d-none d-md-block col-md-3 col-xl-2 sidebar content-wrapper" id="left-sidebar" *ngIf="user">
            <left-sidebar></left-sidebar>
        </nav>
        <!-- END LEFT SIDEBAR -->

        <!-- BEGIN CENTER PANE -->
        <main [ngClass]="getMainClasses()">
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
        </main>
        <!-- END CENTER PANE -->
    </div>
</div>

<playbar *ngIf="user"></playbar>
