<div class="left-sidebar-item">
    <h6 class="nav-title">Main</h6>

    <ul class="nav sidebar-nav flex-column">
        <li class="nav-item">
            <a class="nav-link" routerLink="/browse" routerLinkActive="active">Browse</a>
        </li>
    </ul>
</div>

<div class="left-sidebar-item">
    <h6 class="nav-title">Your Library</h6>

    <ul class="nav sidebar-nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="#">Recently Played</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/songs" routerLinkActive="active">Songs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/albums" routerLinkActive="active">Albums</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/artists" routerLinkActive="active">Artists</a>
        </li>
    </ul>
</div>

<div class="left-sidebar-item">
  <playlist-list></playlist-list>
</div>
