<h6 class="activity-lead">See what your friends <br>are playing</h6>

<p class="text-center">
    <a class="btn btn-outline-gray" href="#" id="find-friends-btn">Find Friends</a>
</p>

<div id="activity-stream">
    <ul class="fa-ul">
        <li>
            <h6 class="friend-name">Jerrel Sogoni</h6>
            
            <ul class="friend-details">
                <li><a href="#">Closer</a></li>
                <li><a href="#">The Chainsmokers</a></li>
            </ul>
        </li>
        <li>
            <h6 class="friend-name">Brett Porcelli</h6>
            
            <ul class="friend-details">
                <li><a href="#">The Heist</a></li>
                <li><a href="#">Big L</a></li>
            </ul>
        </li>
        <li>
            <h6 class="friend-name">Daniel Soh</h6>
            
            <ul class="friend-details">
                <li><a href="#">Song Title</a></li>
                <li><a href="#">Artist Name</a></li>
            </ul>
        </li>
    </ul>

    <div id="activity-stream-overlay"></div>
</div>