<form class="settings-form" #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-row form-group">
    <div class="col-12 col-lg-7">
      <label for="currentPassword" class="text-muted">Current password</label>
    </div>
    <div class="col-12 col-lg-5">
      <input type="password" class="form-control" name="currentPassword" id="currentPassword" placeholder="Current password" required [(ngModel)]="oldPassword">
    </div>
  </div>
  <div class="form-row form-group">
    <div class="col-12 col-lg-7">
      <label for="newPassword" class="text-muted">New password</label>
    </div>
    <div class="col-12 col-lg-5">
      <input type="password" class="form-control" name="newPassword" id="newPassword" placeholder="New password" required [(ngModel)]="newPassword">
    </div>
  </div>
  <div class="form-row form-group">
    <div class="col-12 col-lg-7">
      <label for="confirmNewPassword" class="text-muted">Confirm new password</label>
    </div>
    <div class="col-12 col-lg-5">
      <input type="password" class="form-control" name="confirmNewPassword" id="confirmNewPassword" placeholder="Confirm new password" required [pattern]="newPassword" [(ngModel)]="confirmPassword">
    </div>
  </div>
  <div class="form-group" *ngIf="feedback">
    <p class="mx-auto" [ngClass]="feedback.class">{{ feedback.text }}</p>
  </div>
  <div class="form-group text-center">
    <button type="submit" class="btn btn-wide btn-primary" title="Change Password"
            [disabled]="!form.form.valid || !form.form.dirty || this.disabled">Change Password</button>
  </div>
</form>
