<h1 class="form-heading">Log in</h1>

<form class="login-form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="form-group">
        <label class="sr-only" for="email">Email address</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="Email address" required email [(ngModel)]="model.email">
    </div>
    <div class="form-group">
        <label class="sr-only" for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Password" required [(ngModel)]="model.password">
    </div>
    <div class="form-group">
        <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" name="remember" id="remember" [(ngModel)]="remember">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Remember Me</span>
        </label>
    </div>
    <p *ngIf="feedback" [ngClass]="feedback.class">{{ feedback.text }}</p>
    <button type="submit" [disabled]="!loginForm.form.valid || disabled">Log in</button>
</form>

<ul class="text-center" id="loginActions">
    <li>
        <a routerLink="/register">Create Account</a>
    </li>
    <li>
        <a routerLink="/reset-password">Reset Password</a>
    </li>
</ul>
