<h1 class="form-heading">Reset Password</h1>

<form class="login-form" (ngSubmit)="onSubmit()" #resetForm="ngForm">
  <!-- shown when we don't have a reset token -->
  <div class="form-group" *ngIf="!token">
    <label class="sr-only" for="email">Email address</label>
    <input type="email" class="form-control" name="email" id="email" placeholder="Email address" required email [(ngModel)]="email">
  </div>
  <!-- shown when a reset token is specified -->
  <div class="form-group" *ngIf="token">
    <label class="sr-only" for="password">New password</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="Enter new password" required [(ngModel)]="password">
  </div>
  <div class="form-group" *ngIf="token">
    <label class="sr-only" for="confirmPassword">Confirm new password</label>
    <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Re-type password" required pattern="{{ password }}" [(ngModel)]="confirmPassword">
  </div>
  <p *ngIf="feedback" [ngClass]="feedback.class">{{ feedback.text }}</p>
  <button type="submit" [disabled]="!resetForm.form.valid || disabled">{{ buttonText }}</button>
</form>

<ul class="text-center" id="loginActions">
  <li>
    <a routerLink="/register">Create Account</a>
  </li>
  <li>
    <a routerLink="/login">Log in</a>
  </li>
</ul>
