<h1 class="form-heading">Reset Password</h1>

<form class="login-form" action="index.html">
    <div class="form-group">
        <label class="sr-only" for="email">Email address</label>
        <input type="text" class="form-control" name="email" id="email" placeholder="Email address">
    </div>
    <button type="submit">Send Reset Link</button>
</form>

<ul class="text-center" id="loginActions">
    <li>
        <a routerLink="/register">Create Account</a>
    </li>
    <li>
        <a routerLink="/login">Log in</a>
    </li>
</ul>