<section id="profile-header">
  <div class="profile-image playlist-image" (click)="openPictureModal()">
    <img [src]="user?.profileImage | toImageSrc:'thumbnail'" [alt]="user?.name" [title]="isCurrentUser() ? 'Change Profile Picture' : user?.name">
  </div>
  <div class="profile-info">
    <h1 class="display-4">{{ user?.name }}</h1>
    <ul class="nav button-list" *ngIf="!isCurrentUser()">
      <li class="nav-item">
        <button type="button" class="btn btn-light follow-artist"
                title="{{ user?.followed ? 'Unfollow' : 'Follow' }}"
                (click)="toggleFollowing()">
          {{ user?.followed ? 'Unfollow' : 'Follow' }}
        </button>
      </li>
    </ul>
  </div>
</section>

<section id="profile">
  <ngb-tabset>
    <ngb-tab id="activity" title="Activity">
      <ng-template ngbTabContent>
        <p class="lead">No activity to display</p> <!-- todo -->
      </ng-template>
    </ngb-tab>
    <ngb-tab id="friends" title="Friends">
      <ng-template ngbTabContent>
        <table *ngIf="friends.length > 0; else noFriendsTemplate" class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let friend of friends; index as i">
              <td>{{ i + 1 }}</td>
              <td>
                <button type="button" class="btn btn-link remove-song" title="Unfollow" (click)="removeFriend(friend)" [hidden]="!isCurrentUser()">
                  <i class="fa fa-lg fa-fw fa-check"></i>
                </button>
                {{ friend.name }}
              </td>
            </tr>
          </tbody>
        </table>
        <ng-template #noFriendsTemplate>
          <p class="lead">This user doesn't have any friends.</p>
        </ng-template>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</section>
