<!-- BEGIN UPGRADE MODAL -->
<ng-template #content let-c="close">
    <div class="modal-header">
      <h5 class="modal-title" id="upgradeModalLabel">Upgrade Account</h5>
      <button type="button" class="close" aria-label="Close" (click)="c()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="number">Card Number</label>
            <input type="number" class="form-control" name="number" id="number" placeholder="4716868365708693457" minlength="8" maxlength="19" required>
          </div>
          <div class="form-row">
            <div class="col-4">
              <label for="cvc">CVV</label>
              <input type="number" class="form-control" name="cvc" id="cvc" placeholder="123" minlength="3" maxlength="4" required>
            </div>
            <div class="col-4">
              <label for="exp_month">Expiration Month</label>
              <select class="form-control" name="exp_month" id="exp_month" required>
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>
            </div>
            <div class="col-4">
              <label for="exp_year">Expiration Year</label>
              <select class="form-control" name="exp_year" id="exp_year" required>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
              </select>
            </div>
          </div>
        </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c()">Cancel</button>
      <button type="button" class="btn btn-primary">Start Free Trial</button>
    </div>
</ng-template>
<!-- END UPGRADE MODAL -->
