<div class="row page-section">
    <div class="col-md-2 artist-list-item">
        <a class="d-block" href="#">
            <img class="img-fluid" src="assets/img/artist-placeholder-lg.png" title="Low Cut Connie" alt="Low Cut Connie">
        </a>
        <a class="artist-name" href="#" title="Low Cut Connie">Low Cut Connie</a>
    </div>
    <div class="col-md-2 artist-list-item">
        <a class="d-block" href="#">
            <img class="img-fluid" src="assets/img/artist-placeholder-lg.png" title="Banditos" alt="Banditos">
        </a>
        <a class="artist-name" href="#" title="Banditos">Banditos</a>
    </div>
    <div class="col-md-2 artist-list-item">
        <a class="d-block" href="#">
            <img class="img-fluid" src="assets/img/artist-placeholder-lg.png" title="Black Joe Lewis &amp; The Honey Bears" alt="Black Joe Lewis &amp; The Honey Bears">
        </a>
        <a class="artist-name" href="#" title="Black Joe Lewis &amp; The Honey Bears">Black Joe Lewis &amp; The Honey Bears</a>
    </div>
    <div class="col-md-2 artist-list-item">
        <a class="d-block" href="#">
            <img class="img-fluid" src="assets/img/artist-placeholder-lg.png" title="The Yawpers" alt="The Yawpers">
        </a>
        <a class="artist-name" href="#" title="The Yawpers">The Yawpers</a>
    </div>
    <div class="col-md-2 artist-list-item">
        <a class="d-block" href="#">
            <img class="img-fluid" src="assets/img/artist-placeholder-lg.png" title="Bully" alt="Bully">
        </a>
        <a class="artist-name" href="#" title="Bully">Bully</a>
    </div>
    <div class="col-md-2 artist-list-item">
        <a class="d-block" href="#">
            <img class="img-fluid" src="assets/img/artist-placeholder-lg.png" title="JD McPherson" alt="JD McPherson">
        </a>
        <a class="artist-name" href="#" title="JD McPherson">JD McPherson</a>
    </div>
</div>

<div class="row page-section">
    <div class="col-md-2 artist-list-item">
        <a class="d-block" href="#">
            <img class="img-fluid" src="assets/img/artist-placeholder-lg.png" title="Big Thief" alt="Big Thief">
        </a>
        <a class="artist-name" href="#" title="Big Thief">Big Thief</a>
    </div>
    <div class="col-md-2 artist-list-item">
        <a class="d-block" href="#">
            <img class="img-fluid" src="assets/img/artist-placeholder-lg.png" title="Margaret Glaspy" alt="Margaret Glaspy">
        </a>
        <a class="artist-name" href="#" title="Margaret Glaspy">Margaret Glaspy</a>
    </div>
    <div class="col-md-2 artist-list-item">
        <a class="d-block" href="#">
            <img class="img-fluid" src="assets/img/artist-placeholder-lg.png" title="Adia Victoria" alt="Adia Victoria">
        </a>
        <a class="artist-name" href="#" title="Adia Victoria">Adia Victoria</a>
    </div>
    <div class="col-md-2 artist-list-item">
        <a class="d-block" href="#">
            <img class="img-fluid" src="assets/img/artist-placeholder-lg.png" title="Thunderbitch" alt="Thunderbitch">
        </a>
        <a class="artist-name" href="#" title="Thunderbitch">Thunderbitch</a>
    </div>
    <div class="col-md-2 artist-list-item">
        <a class="d-block" href="#">
            <img class="img-fluid" src="assets/img/artist-placeholder-lg.png" title="Matthew Logan Vasquez" alt="Matthew Logan Vasquez">
        </a>
        <a class="artist-name" href="#" title="Matthew Logan Vasquez">Matthew Logan Vasquez</a>
    </div>
    <div class="col-md-2 artist-list-item">
        <a class="d-block" href="#">
            <img class="img-fluid" src="assets/img/artist-placeholder-lg.png" title="Sweet Spirit" alt="Sweet Spirit">
        </a>
        <a class="artist-name" href="#" title="Sweet Spirit">Sweet Spirit</a>
    </div>
</div>