<h1 class="display-4 page-heading">Songs</h1>

<button type="button" class="btn btn-wide btn-primary" id="play-songs">Play</button>

<div class="filter-box">
    <label for="filter">
        <i class="fa fa-filter"></i>
        <span class="sr-only">Filter Songs</span>
    </label>

    <input type="text" class="form-control" name="filter" id="filter" placeholder="Filter...">

    <a href="#" class="clear-filter" title="Remove Filter">
        <i class="fa fa-fw fa-times-circle"></i>
        <span class="sr-only">Remove Filter</span>
    </a>
</div>

<!-- todo: get songs from server -->
<div class="mt-4" song-table [songs]="[]"></div>
