<table class="table table-hover" id="songs_table">
  <thead class="thead-inverse">
  <tr>
    <th class="actions"></th>
    <th class="title">Title</th>
    <th class="artist">Artist</th>
    <th class="album">Album</th>
    <th class="duration">
      <i class="fa fa-lg fa-clock-o" title="Duration"></i>
    </th>
  </tr>
  </thead>
  <tbody *ngIf="songs.length > 0 || pending; else emptyTableTemplate">
    <tr *ngFor="let song of songs; index as i" [ngClass]="{ 'now-playing': isPlaying(song) }" [contextMenu]="songMenu" [contextMenuSubject]="song">
      <td class="actions">
        <button type="button" class="btn btn-link play-button" title="Play" (click)="togglePlayback(i)">
          <i class="fa fa-lg fa-fw" [ngClass]="getPlayButtonClass(song)"></i>
        </button>
        <button type="button" class="btn btn-link" [title]="isSaved(song) ? 'Remove' : 'Save'" [ngClass]="isSaved(song) ? 'remove-song' : 'add-song'" (click)="saveOrRemove(song)">
          <i class="fa fa-lg fa-fw" [ngClass]="isSaved(song) ? 'fa-check' : 'fa-plus'"></i>
        </button>
      </td>
      <td class="title">{{ song.name }}</td>
      <td class="artist">
        <a [routerLink]="['/artist', song.album.artist.id]">{{ song.album.artist.name }}</a>
      </td>
      <td class="album">
        <a [routerLink]="['/album', song.album.id]">{{ song.album.name }}</a>
      </td>
      <td class="duration">
        {{ song.length | formatDuration }}
      </td>
    </tr>
  </tbody>
  <ng-template #emptyTableTemplate>
    <tr>
      <td colspan="5">No results found.</td>
    </tr>
  </ng-template>
</table>

<context-menu #songMenu>
  <ng-template contextMenuItem (execute)="addToQueue($event.item)">
    Add to Play Queue
  </ng-template>
  <ng-template contextMenuItem [divider]="true"></ng-template>
  <ng-template contextMenuItem (execute)="openArtistPage($event.item)">
    Go to Artist
  </ng-template>
  <ng-template contextMenuItem (execute)="openAlbumPage($event.item)">
    Go to Album
  </ng-template>
  <ng-template contextMenuItem [divider]="true"></ng-template>
  <ng-template contextMenuItem let-song (execute)="saveOrRemove($event.item)">
    {{ isSaved(song) ? 'Remove from Library' : 'Save to Library' }}
  </ng-template>
  <ng-template contextMenuItem [divider]="true" [visible]="isEnqueued"></ng-template>
  <ng-template contextMenuItem [visible]="isEnqueued" (execute)="removeFromQueue($event.item)">
    Remove from Play Queue
  </ng-template>
</context-menu>
