<h1 class="display-4 page-heading">Songs</h1>

<button type="button" class="btn btn-wide btn-primary" id="play-songs" (click)="togglePlayback()">
  {{ isPlaying() ? 'Pause' : 'Play' }}
</button>

<div class="filter-box">
    <label for="filter">
        <i class="fa fa-filter"></i>
        <span class="sr-only">Filter Songs</span>
    </label>

    <input type="text" class="form-control" name="filter" id="filter" placeholder="Filter..." #filterInput>

    <button class="clear-filter btn btn-link" title="Remove Filter" (click)="resetFilter()" [hidden]="!filterInput.value">
        <i class="fa fa-fw fa-times-circle"></i>
        <span class="sr-only">Remove Filter</span>
    </button>
</div>

<section class="mt-4"
     infiniteScroll
     [infiniteScrollDistance]="1"
     [infiniteScrollThrottle]="50"
     [infiniteScrollContainer]="'main'"
     [fromRoot]="true"
     (scrolled)="nextPage()">
  <div song-table [playlist]="songs" [pending]="pending"></div>
  <div class="results-spinner mt-3" [hidden]="!pending">
    <i class="fa fa-spinner fa-spin"></i>
    <span>Loading...</span>
  </div>
</section>
