<h1>Artist Royalty Report</h1>
<h2>Artist: %ARTIST_NAME%</h2>
<h2>Created Date: %ARTIST_CREATED_DATE%</h2>
<table>
    <thead>
        <th>Play Count</th>
        <th>Song Title</th>
    </thead>
    <tbody>%TBODY%</tbody>
</table>
