<h1>Listener Report</h1>
<table>
    <thead>
        <th>Id</th>
        <th>Premium</th>
        <th>Time</th>
        <th>Customer_Id</th>
        <th>Playlist Id</th>
        <th>Song Id</th>
    </thead>
    <tbody>%TBODY%</tbody>
</table>
