<h1>Site-wide Statistics Report</h1>
<h2>Created Date: %CREATED_DATE%</h2>
<table>
    <thead>
        <th>Customer Count</th>
        <th>Admin Count</th>
        <th>Song Count</th>
        <th>Playlist Count</th>
    </thead>
    <tbody>
        %TBODY%
    </tbody>
</table>
